.w-100 {
    width: 100%;
}

.container {
    margin: 2em auto 0;
    width: calc(100% - 2em);
    max-width: 1020px;
}

form input {
    border: 2px solid transparent;
    border-bottom-color: var(--purple-1);
    background: var(--body);
    border-radius: 40px;
    cursor: default;
    font-size: 1.1em;
    font-weight: 500;
    width: calc(100% - 2em);
    min-width: fit-content;
}

form input:invalid {
    border-top-color: rgb(185, 0, 0);
    border-bottom-color: rgb(185, 0, 0);
}

input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    min-width: fit-content;
}

label {
    align-self: flex-start;
    font-size: 1.2em;
    font-weight: bold;
}

form .group {
    max-width: 640px;
}

form img {
    height: 75px;
    box-shadow: 0 0 12px 8px var(--shadow);
    border-bottom: 4px solid var(--purple-1);
    cursor: pointer;
    width: auto;
}

form .selected {
    cursor: default;
    height: 150px;
}

form .images {
    max-width: 420px;
}

.container .sub {
    width: calc(50% - 4em);
}

.container .avatars {
    height: 100%;
}

.account .container {
    top: -200%;
    opacity: 0;
    position: absolute;
    transition: .4s ease;
}

.account .container.active {
    opacity: 1;
    top: 6em;
}

@media screen and (max-width:1020px) {
    .container form .sub {
        width: calc(100% - 2em);
    }
}